<form [formGroup]="form" (submit)="login()">
  <label [ngClass]="{error: isFieldInvalid('username')}">
    <span>Username</span>
    <input type="text" formControlName="username">
  </label>
  <label [ngClass]="{error: isFieldInvalid('password')}">
    <span>Password</span>
    <input type="password" formControlName="password">
  </label>
  <div>
    <button type="submit">Log In</button>
  </div>
</form>
